<div class="row">
    <div class="form-group col-5 offset-1">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="search" name="search" value="{{ app.request.get('search') }}">
        </div>
    </div>
    <div class="form-group col-3">
        <select class="form-control" id="category" name="category">
            <option value="">All categories</option>
            {% for category in categories %}
                <option value="{{ category.name }}" {% if category.name == app.request.get('category') %}selected="selected"{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group col-2 text-center">
        <div class="input-group">
            <input type="submit" id="submit" value="Search"
                   class="btn btn-info w-100">
        </div>
    </div>
    <div class="form-group col-3 offset-1">
        <select class="form-control" id="city" name="city">
            <option value="">All cities</option>
            {% for city in cities %}
                <option value="{{ city.name }}" {% if city.name == app.request.get('city') %}selected="selected"{% endif %}>{{ city.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>